<nav class="navbar navbar-expand-md navbar-dark gl-py-0 gl-px-5 gl-sticky gl-top-0 gl-z-index-200" data-elastic-exclude>
  <a class="navbar-brand d-flex align-items-center justify-content-center mr-3" href="/">
    <img src="<%= @items['/assets/images/gitlab-logo-header.svg'].path %>" alt="GitLab documentation home" class="logo" />
    <span class="border-left border-light ml-2 pl-2">Docs</strong>
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto mb-0">
      <li class="nav-item active">
        <% if @item[:searchbar].nil? %>
          <% location = @item.identifier.to_s.split('/')[1] %>
          <% unless %w(search index.erb).any?(location) %>
            <% if @config[:search_backend] == "elastic" %>
              <div class="js-elastic-search-form gl-spinner-container">
                <span aria-label="Loading" class="gl-ml-3 gl-vertical-align-text-bottom! gl-spinner gl-spinner-light gl-spinner-sm"></span>
              </div>
            <% elsif @config[:search_backend] == "lunr" %>
              <div class="js-search-form gl-spinner-container">
                <span aria-label="Loading" class="gl-ml-3 gl-vertical-align-text-bottom! gl-spinner gl-spinner-light gl-spinner-sm"></span>
              </div>
            <% end %>
          <% end %>
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav mb-0">
      <li class="nav-item active">
      <a class="nav-link" href="https://about.gitlab.com/releases/categories/releases/" target="_blank">What's new?</a>
      </li>
    </ul>
    <div class="js-versions-menu"></div>
    <ul class="navbar-nav gl-mb-3 gl-md-mb-0 gl-md-pr-3">
      <li class="nav-item gl-mb-4! gl-md-mb-0!">
        <% if @item.identifier.to_s.split('/')[1] == 'omnibus' %>
          <%= render '/cta_omnibus.*' %>
        <% else %>
          <%= render '/cta.*' %>
        <% end %>
      </li>
    </ul>
  </div>
</nav>
